<div class="container">

  <% if @create_book.errors.any? %>
    <h3>
      <%= @create_book.errors.count %>errors prohibited this obj from being saved:
    </h3>
    <ul>
      <% @create_book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <div class="row">
    <div class="col-lg-3" >

      <%= render'user_info', user: @user_info, book: @create_book %>

    </div>

    <div class="col-lg-8 offset-md-1">

      <h2>Books</h2>

      <table class="table table-hover">

        <thead>
          <tr>
            <th></th>
            <th>Title</th>
            <th>Opinion</th>
          </tr>
        </thead>

        <% @books.each do |book| %>

          <tbody>
            <tr>
              <th>
                <%= link_to user_path(book.user_id) do %>
                  <%= image_tag book.user.get_profile_image(100,100) %>
                <% end %>
              </th>
              <th>
                <%= link_to book_path(book.id) do %>
                  <%= book.title %>
                <% end %>
              </th>
              <th><%= book.body %></th>
            </tr>
          </tbody>

        <% end %>

      </table>

    </div>
  </div>
</div>